.container {
  display: flex;
  gap: 20px;
}

.kutu {
  width: 300px;
  height: 300px;
  background-color: lightcoral;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.kutu > h2 {
  font-size: 32px;
  text-align: center;
}
